*{
    background-color: #bbdef0;
    font-family: 'Fredoka One', cursive;
}

body{
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}


.quiz-wrapper{
    display:flex;
    justify-content: center;
}




/* Color Palette 
#bbdef0
#f08700
#f49f0a
#efca08
#00a6a6 */
