*{
    background-color: #bbdef0;
    font-family: 'Fredoka One', cursive;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#start-screen{
    padding: 108px;
    margin: auto;
    background-color: white;
    max-width: 45%;
    display:flex;
    justify-content: center;    
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10% 30% 50% 40%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.question{
    background-color:white;
    color: #00a6a6;
    font-size:25px;
}

.button-wrapper{
    margin-top: 37px;
    display:flex;
    justify-content: center;
    background-color: white;
}

button{
    background-color: #efca08;
    margin: 6px;
    padding: 9px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #f49f0a; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

/* Color Palette
#f08700
#bbdef0
#efca08
#f49f0a
#00a6a6 */